/* General styles */
body {
    background-image: url('wepik-export-20240208114305uGiR.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        font-family: 'Times New Roman', Times, serif, sans-serif;
        font-size: large;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}


header {
   
    padding: 20px;
    text-align: left;
}


nav.horizontal-nav {
    position: fixed;
    top: 20px; /* Adjust top distance from the top of the screen */
    right: 0px;
    padding: 10px 20px;
    text-align: right;
}

nav.horizontal-nav ul {
    list-style-type: none;
    padding: 0;
  margin: 0;
}

nav.horizontal-nav li {
    display: inline;
    margin-right: 10px;
}

nav.horizontal-nav a {
    color: rgb(255, 0, 111);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav.horizontal-nav a:hover {
    background-color: #E8AF96;
}



main {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

.container {
    max-width: 1100px;
    margin: 150px auto;
    padding: 20px;
    text-align: left;
}

.box {
    padding: 0;
}

.header {
    padding: 0;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.content p {
    margin: 0;
}

/*section {
    margin-bottom: 30px;
}

h2 {
    text-align: left;
    padding-left: 20px;
    color: #333;
}

section {
    border: none;

.project {
    border: none;  
} */

footer {
    background-color: rgb(255, 0, 111);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
