/* General styles */
body {
    background-image: url('wepik-export-20240208114305uGiR.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
        font-family:cursive;
        font-size: large;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}


header {
   
    padding: 20px;
    text-align: left;
}


nav.horizontal-nav {
    position: fixed;
    top: 20px; /* Adjust top distance from the top of the screen */
    right: 0px;
    padding: 10px 20px;
    text-align: right;
}

nav.horizontal-nav ul {
    list-style-type: none;
    padding: 0;
  margin: 0;
}

nav.horizontal-nav li {
    display: inline;
    margin-right: 10px;
}

nav.horizontal-nav a {
    color: rgb(255, 0, 111);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav.horizontal-nav a:hover {
    background-color: #E8AF96;
}



main {
    font-family: cursive;
    margin: 0;
    padding: 0;
    position: relative;

}
.drey {
    text-align: left;
    max-width: 1200px;
    margin: 20px auto;
    padding: 100px;
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.info {
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0; /* Adjusted margin to remove space */
}

.header h1 {
    padding-left: 10px;
    margin: 0;
   
}

.info p {
    margin: 0;
}

.about-me-box {
    padding: 20px;
    margin-right: 280px;
    position:absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-bottom: 20px;
    z-index: 1;
}

.container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 50px; /* Adjust as needed to avoid overlapping with "What do I do?" section */
    display: flex;
    justify-content: flex-end;
}

.skills {
    display: flex;
}

.skill-box {
    padding: 20px;
    margin-left: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.skill-box h2 {
    margin-top: 0;
    text-align: center;
}

.skill-box ul {
    padding: 0;
    margin: 10px 0 0 0;
    list-style-type: none;
    text-align: center;
}

.skill-box ul li {
    margin-bottom: 5px;
}



/*section {
    margin-bottom: 30px;
}

h2 {
    text-align: left;
    padding-left: 20px;
    color: #333;
}

section {
    border: none;

.project {
    border: none;  
} */

footer {
    background-color: rgb(255, 0, 111);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
